{% extends 'base.html.twig' %}
{% block body %}
    <nav class="navbar navbar-expand navbar-light bg-light">
        <ul class="nav navbar-nav">
            <li>
                <a class="nav-link" href="#">Nav 1 <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link" href="#">Nav 2</a>
            </li>
        </ul>
    </nav>
{% endblock %}