{% extends 'page/header.html.twig' %}
{% block title %}Hello PageController!
{% endblock %}
{% block body %}
	<div class="container-fluid navBar">
		<div class="row">
			<div class="col"></div>
		</div>
	</div>
{% endblock %}
