{# áp dụng template của bootstrap vào form #}
{% form_theme StudentForm 'bootstrap_5_layout.html.twig' %}
{# kế thừa file layout (template) #}
{%
extends "student/index.html.twig" %}
{# override nội dung của phần body trong template #}
{% block body %}
	<style>
		h2{
			margin-left: -90px;
		}
	</style>
	<div class="container col-md-4 mt-4 text-center">
		<h2 class="text text-primary">Add new Student</h2>
		<div> 
			{{ form(StudentForm) }}
			</div>
		</div>
{% endblock %}
