h2 {
    font-family: SF-medium;
    src: url(../font/SF-Pro-Display-Medium.otf);
}

.choice{
    margin-left: 40px;
}

.col .type{
    font-size: 19px;
    font-family: "SF-regular";
}

.row{
    text-align: left;
}

.col #add{
    padding: 0px 24px;
}
