{% extends 'base.html.twig' %}

{% block title %}Grades{% endblock %}
{% block searchBar %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <div class="form-group col-md-4 searchBar">
            <form action="#" method="POST">
                <input
                    type="search"
                    class="form-control"
                    name="title"
                    placeholder="Enter student name"
                    required
                />
            </form>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#">Profile</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_logout') }}">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}
{% block body %}

{% endblock %}
