{# áp dụng template của bootstrap vào form  #}
{%
extends "subject/index.html.twig" %}
{% form_theme SubjectForm 'bootstrap_5_layout.html.twig' %}
{# kế thừa file layout (template) #}
{# override nội dung của phần body trong template #}
{% block body %}
<div class="container col-md-4 mt-4 text-center">
   <h2 class="text text-primary">Edit Subject Information</h2>
   {{ form (SubjectForm) }}
</div>
{% endblock %}